{% from "helper_macros.j2" import print_spdx_line, include_batches, handle_cmd_signature %}
{{ print_spdx_line('Apache-2.0') }}

{{ include_batches(includes) }}

namespace module {
namespace {{ namespace }} {

void {{ class_name }}::init() {

}

void {{ class_name }}::ready() {

}
{% for cmd in interface.cmds %}

{{ handle_cmd_signature(cmd, class_name) }}{
    // your code for cmd {{ cmd.name }} goes here
    {% if cmd.result %}
    return {{ cmd.result.type.dummy_result }};
    {% endif %}
}
{% endfor %}

} // namespace {{ namespace }}
} // namespace module
